extends /Dashboard/Header
block PageContent
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Customers
      .span
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.text-white.mr-2(href="/Profiles/Customer/NewTypes")
          i.fas.fa-plus-square.fa-sm.text-white-50
          |  New Type
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
    // DataTales Example
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary Customer Types
      .card-body
        .table-responsive
          table#dataTable.table.table-bordered(width='100%' cellspacing='0')
            thead 
                    tr
                        th #
                        th Customer Type
                        th Note
            tbody
                each item,i in type
                    tr 
                        td=i+1
                        td=item['customerType']
                        td=item['note']
