include ../Components/Header
block content
  br
  .container
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
    .jumbotron
      .row
        .container-fluid.table-responsive
          form(method='POST' action="/Product")
            .container
              != messages('message', locals)
              if errors
                each error, i in errors
                  div(class="alert alert-danger") #{error.msg}
            h2 زانیاری بەرهەم
            .row
              .form-group.col-md-2
                label ناوی بەرهەم
                input.form-control(name="itemName" type='text' placeholder='' required)
              .form-group.col-md-2
                label بڕاندی بەرهەم
                input.form-control(name="itemModel" type='text' placeholder='' required)
              .form-group.col-md-2
                label کۆمپانیای وەبەرهێن
                select(name="manufacturerCompany" class="form-control")
                  each item,i in company
                    option(value=item['companyName'])=item['companyName']
              .form-group.col-md-2
                label وڵات
                select(name="countryCompany" class="form-control")
                  option(value="اردن") اردن
                  option(value="عیراق") عیراق
                  option(value="توركیا") توركیا
                  option(value="ایتالیا") ایتالیا
                  option(value="چین") چین
                  option(value="ئیران") ئیران
                  option(value="بریتانیا") بریتانیا
              .form-group.col-md-2
                label جۆری بەرهەم
                select(name="itemType" class="form-control")
                  option(value="دهنی") دهنی
                  option(value="مائی") مائی
                  option(value="مائی و دهنی") مائی و دهنی
                  option(value="نایترۆ سلیلۆز") نایترۆ سلیلۆز
              .form-group.col-md-2
                label ڕەنگ
                select(name="color" class="form-control")
                  option(value='')
                  option(value=' سپی')  سپی
                  option(value='.MV]') .MV]
                  option(value='1001') 1001
                  option(value='1008') 1008
                  option(value='1037') 1037
                  option(value='1042') 1042
                  option(value='5002') 5002
                  option(value='6002') 6002
                  option(value='9002') 9002
                  option(value='ئه‌له‌منیۆم') ئه‌له‌منیۆم
                  option(value='ابيض') ابيض
                  option(value='ابیض') ابیض
                  option(value='احمر') احمر
                  option(value='اخضر') اخضر
                  option(value='اخضر حشيشي') اخضر حشيشي
                  option(value='اخضر غامق') اخضر غامق
                  option(value='ازرق') ازرق
                  option(value='اسود') اسود
                  option(value='اصفر') اصفر
                  option(value='اصفر كرومی') اصفر كرومی
                  option(value='اصفر لیمونی') اصفر لیمونی
                  option(value='الوان') الوان
                  option(value='اوف وایت') اوف وایت
                  option(value='اوف وایت 1') اوف وایت 1
                  option(value='اوف وایت 2') اوف وایت 2
                  option(value='برتقالي') برتقالي
                  option(value='برتقالی') برتقالی
                  option(value='تبنی') تبنی
                  option(value='جوزی') جوزی
                  option(value='جۆزی') جۆزی
                  option(value='خاكی') خاكی
                  option(value='ذهبي') ذهبي
                  option(value='ذهبی') ذهبی
                  option(value='رصاصي') رصاصي
                  option(value='رصاصي غامق') رصاصي غامق
                  option(value='رصاصی') رصاصی
                  option(value='رصاصی (گرێی)') رصاصی (گرێی)
                  option(value='رصاصی غامق') رصاصی غامق
                  option(value='ره‌ش') ره‌ش
                  option(value='ره‌ش و سۆر') ره‌ش و سۆر
                  option(value='زه‌رد') زه‌رد
                  option(value='زه‌رد ( یلۆ)') زه‌رد ( یلۆ)
                  option(value='زه‌رد و كه‌سك په‌نجه‌ ره‌ش') زه‌رد و كه‌سك په‌نجه‌ ره‌ش
                  option(value='سلفر') سلفر
                  option(value='سه‌ر سۆر') سه‌ر سۆر
                  option(value='سه‌وز') سه‌وز
                  option(value='سپی') سپی
                  option(value='سپی (وایت)') سپی (وایت)
                  option(value='سپی ده‌سك ره‌ش') سپی ده‌سك ره‌ش
                  option(value='سپی و زه‌رد') سپی و زه‌رد
                  option(value='سپێشه‌ل') سپێشه‌ل
                  option(value='سۆر') سۆر
                  option(value='سۆر ( رید)') سۆر ( رید)
                  option(value='سۆر و ره‌ش') سۆر و ره‌ش
                  option(value='شامپانی') شامپانی
                  option(value='شفاف') شفاف
                  option(value='شین') شین
                  option(value='شین (هیڤی)') شین (هیڤی)
                  option(value='شینی ئاسمانی') شینی ئاسمانی
                  option(value='صاجي') صاجي
                  option(value='صاجی') صاجی
                  option(value='فضی') فضی
                  option(value='فضی نیكل') فضی نیكل
                  option(value='قاوه‌یی په‌نجه‌ ره‌ش') قاوه‌یی په‌نجه‌ ره‌ش
                  option(value='قرمیدی') قرمیدی
                  option(value='قهوائی') قهوائی
                  option(value='كاكاوی') كاكاوی
                  option(value='كریمی') كریمی
                  option(value='كلیر شفاف') كلیر شفاف
                  option(value='كه‌سك') كه‌سك
                  option(value='ملون') ملون
                  option(value='نارنجى') نارنجى
                  option(value='نارنجی') نارنجی
                  option(value='نارنجی و سپپی') نارنجی و سپپی
                  option(value='نومی') نومی
                  option(value='نيللي') نيللي
                  option(value='نیكل') نیكل
                  option(value='نیللی') نیللی
                  option(value='نیللی (نیڤی)') نیللی (نیڤی)
                  option(value='نیوترال') نیوترال
                  option(value='پرتقالی') پرتقالی
                  option(value='ڕصاصی') ڕصاصی
                  option(value='کرێمی') کرێمی

            .row
              .form-group.col-md-2
                label پەکێج
                select(name="unit" class="form-control")
                  option(value="کارتۆن") کارتۆن
                  option(value="دەرزەن") دەرزەن
                  option(value="مەتر") مەتر
                  option(value="کیلۆ") کیلۆ
                  option(value="دانە") دانە
                  option(value="لیتر") لیتر
              .form-group.col-md-2
                label یەکەی پێوانە
                select(name="itemUnit" class="form-control")
                  option(value='لتر') لتر
                  option(value='گالۆن') گالۆن
                  option(value='ئینج') ئینج
                  option(value='سم') سم
                  option(value='مل') مل
                  option(value='خشونه‌') خشونه‌
                  option(value='مه‌تر') مه‌تر
                  option(value='یارد') یارد
                  option(value='كيلۆ') كيلۆ
              .form-group.col-md-2
                label بڕی پێوانە
                input.form-control(name="weight" type='number' step='any' required)
              .form-group.col-md-2
                label بەرواری بەسەرچوون
                input.form-control(name="expireDate" type='date')
              .form-group.col-md-2
                label بڕی پاکێج
                input.form-control(name="perPacket" type='number' placeholder='0' required)
              .form-group.col-md-2
                label شوێنی بەکارهێنان
                select(name="usedIn" class="form-control")
                  option(value="خارجی") خارجی
                  option(value="داخلی") داخلی
                  option(value="داخلی و خارجی") داخلی و خارجی
                  option(value="فلینكۆت") فلینكۆت
            .row
              .form-group.col-md-2
                label نرخی هاتوو
                input.form-control(name="camePrice" type='number' placeholder='0' required step='any')
              .form-group.col-md-2
                label مفرد
                input.form-control(id="sellPriceMufrad" name="sellPriceMufrad" type='number' placeholder='0' required step='any' onkeyup="myFunction(this)")
              .form-group.col-md-2
                label محل
                input.form-control(id="sellPriceMahal" name="sellPriceMahal" type='number' placeholder='0' required step='any' onkeyup="myNextFunction(this)")
              .form-group.col-md-2
                label وەستا
                input.form-control(id="sellPriceWasta" name="sellPriceWasta" type='number' placeholder='0' required step='any')
              .form-group.col-md-2
                label وەکیل
                input.form-control(id="sellPriceWakil" name="sellPriceWakil" type='number' placeholder='0' required step='any')
              .form-group.col-md-2
                label شركه‌
                input.form-control(id="sellPriceSharika" name="sellPriceSharika" type='number' placeholder='0' required step='any')

            button.btn.btn-primary.mt-2(type='submit') تۆمارکردن
    script.
      function myFunction(input){
        var elementValue = input.value;
        document.getElementById("sellPriceWasta").value = parseFloat(elementValue);
      }
      function myNextFunction(input){
        var elementValue = input.value;
        document.getElementById("sellPriceSharika").value = parseFloat(elementValue);
        document.getElementById("sellPriceWakil").value = parseFloat(elementValue);
      }