include ../Components/Header
block content
  br
  .container
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
    .jumbotron
      .row
        .container-fluid.table-responsive
          form(method='POST' action="/Products/RemoveProduct/"+product[0]['_id'])
            .container
              != messages('message', locals)
              if errors
                each error, i in errors
                  div(class="note note-danger") #{error.msg}
            h2="ڕەشکردنەوەی بەرهەمی "+product[0]['itemModel']+" - "+product[0]['itemName']
            .row
              .modal-content
                //- .modal-header=product[0]['itemName']
                .modal-body ئایا دڵنیای لە ڕەشکردنەوەی بەرهەمی 
                  b=product[0]['itemModel']+" - "+product[0]['itemName']
                .modal-footer
                  a.btn.btn-default(type='button' href="/Products") گەڕانەوە
                  button.btn.btn-danger.btn-ok(type='submit') ڕەشکردنەوە